*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    color: white;
}

body{
    background-color: #41729f;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
}

.logo{
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.navbar a{
    color: black;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 2rem;
    transition: .3s;
}

.navbar a:hover{
    color: #75e6da;
    font-size: large;
}

#menu-icon{
    color: black;
    cursor: pointer;
    display: none;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left:6rem ;
}
.home-content{
   width: 40rem;
}
.home-content h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content .animated-text{
    position: relative;
    width: 32rem;
}

.home-content .animated-text h3{
    font-size: 2rem;
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: .7px #75e6da;
}
.home-content p{
    font-size: 1.2rem;
    padding: 1rem 0 3rem;
}

.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 28rem;
    height: 3rem;
}
.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 100%;
    background-color: #75e6da;
    border: 2rem solid #75e6da;
    border-radius:0.4rem ;
    color: black;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 5rem;
    display: flex;
    justify-content: space-between;
}
.social-media a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-size: 1.8rem;
    background-color: transparent;
    text-decoration: none;
    border: .2rem solid #41729f ;
    border-radius: 50%;
}

.social-media a:hover{
    background-color: #75e6da;
    font-size: large;
}